<div style="background-color:#FFFFFF;height:60%;width:60%;position:absolute;top:15%;left:5%; border-radius: 20px;display: flex;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
	<div style="height:100%;width:100%;">
		
		<div style="border-top-right-radius: 20px;border-top-left-radius: 20px;background-color:#F2F2F2;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);height:15%;width:100%;display:flex;padding-top:3%;" >
			<div style="width:20%;background-color:#123FF000;text-align:center;">
				<h2 class="text" style="color:#636363;" >Status</h2>
			</div>
			<div style="width:60%;background-color:#12312300;text-align:center;">
				<h2 class="text" style="color:#636363;line-height:normal;" >Player Name</h2>
			</div>

		</div>
		
		<div class="titleInfoDescription" style="height:81%;width:100%;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;margin-top:2%;overflow:scroll;">	
			<ul id="playerList" style="list-style-type: none;">
				
				<li>
					
					<div class="element-list-member" style="margin-bottom:10px;">
						<div style="width:20%;background-color:#123FF000;text-align:center;">
							<h3 class="text statusPlayerPrepare" style="" >Ready</h3>
						</div>
						<div style="width:60%;background-color:#12312300;text-align:center;">
							<h3 class="text" style="color:#636363;line-height:normal;" >Loading player data...</h3>
						</div>
					</div>
					
				</li>
				
				
			</ul>
				
		</div>
		<div style="position:absolute; display:flex;bottom:0; width:100%; height:20%; background-color:#00000000;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;">
			<div style="width:50%;background-color:#1239F000;text-align:center;">
				<button class="btnLeaveRoom text" style="width:50%;height:50%;border-radius:10px;" onclick="lobby()" ><span>Leave Team</span></button>
			</div>
			<div style="width:50%;background-color:#1239F000;text-align:center;">
				<button class="btnReadyRoom text" style="width:50%;height:50%;border-radius:10px;" id="startgame" ><span id="buttomStartGameSpan">Ready!</span></button>
			</div>
		</div>
		
		
		
	</div>
	
</div>

<!--chat tab-->
<div style="background-color:#FFFFFF;height:75%;width:25%;position:absolute;top:15%;right:5%; border-radius: 20px;display: flex;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
	<div style="background-color:#56756700;height:100%;width:100%;">
		<div style="position:absolute;background-color:#56756700;height:80%;width:100%;">
			<div style="border-top-right-radius: 20px;border-top-left-radius: 20px;background-color:#FFFFFF;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);height:15%;width:100%;display:flex;padding-top:6%;" >
				<div style="width:100%;background-color:#123FF000;text-align:left;">
					<h2 class="text" id="tittleChatPrepare" style="color:#636363;margin-left:3%;background-color:#12312300" >Chat Lobby</h2>
				</div>
			</div>
		</div>
		<div style="position:absolute;background-color:#89089000;height:87%;width:100%;margin-top:19%;">
			<div class="titleInfoDescription" style="background-color:#89089000;width:100%; height:85%;overflow:scroll;vertical-align: bottom;">
				
				<ul id="chatTabArea">
					<!--<li>
						<div style="background-color:#d2d2d200;width:100%;margin:5px;margin-left:10px; margin-right:10px;border-width:0;border-bottom-width:1px; border-style: solid; border-color:#D2D2D2;padding-bottom:5px;">
							<h3 class="text"  style="color:#d2d2d2;">Server : </h3>
							<p class="text" style="margin-left:20px;" >Selamat datang..</p>
						</div>
					</li>-->
				</ul>
			</div>
			<div class="titleInfoDescription" style="background-color:#15915900;width:100%; height:15%;overflow:scroll; padding-top:5%;">
				<input class="text textFieldInput" id="inputTextSendMessage" type='text' placeholder="Tulis Pesan" style="padding:2%;margin-left:2%;height:65%;"/>
				<button id="sendMessage" class="btnLoginAndRegister" style="width:15%;height:65%;margin-left:1%;">Send</button>
			</div>
			
		</div>
			
		
		
	</div>
	

</div>

<div class="popUp-modal">
    <div class="popUp-modal-content">
        <span class="popUp-close-button" onclick="closePopUpMessage()">×</span>
        <h1 id="tittle-popUp-model">Pop Up</h1>
      	<p id="message-popUp-model" style="font-size: large;color:#2F4F4F;margin-top:10px;margin-bottom:10px;">
			Permainan yang melatih daya ingat, logika dan kerja sama tim , untuk mengumpulkan emas dalam map yang telah diserdiakan dan bertarung melawan monster dan musuh
			yang ada di hadapan-mu nanti.
		</p>
    </div>
</div>

<div id="penghalang" class="popUp-modal">
 
</div>

<div id="toast">Some text some message..</div>
<script>
	var players;
	
	$(document).ready(function(){
		
		if(client.nsp != '/game'){
			client = io('/game');
			client.emit('joinRoom',state.currentTim,{name:state.userName});
			client.removeAllListeners()
		}else{
			client.emit('requestPlayerList',state.currentTim);
			client.removeAllListeners()
			console.log(client);
		}
		client.on('playerListUpdate', function(playerList){
			players = playerList;
			console.log(players);
			let isMaster = false;
			if(players[0].user.name == account.userName){
				$("#buttomStartGameSpan").html('Mulai Game!');
				isMaster = true;
			}
			
			console.log("player list updated",playerList);
			$('#playerList').empty();
			
			for(let i = 0 ; i < playerList.length; i++){
				$('#playerList').append( getListPlayerElement(playerList[i].user.name , getStatus(i , playerList) , (isMaster && i!=0 ) ) );
				if( playerList[i].user.name == account.userName && !isMaster){
					$("#buttomStartGameSpan").html((playerList[i].ready)? 'Belum Siap' :'Siap!');
				}
			}
			
		});
		
		client.on('rejected',function(info){
			setInfo(info);
			lobby()
		});
		
		client.on('gameScene', function(){
			gameStart()
		});
		client.on('kicked', function(){
			setInfo("You have been kicked by Team Master");
			lobby()
		});
		client.on('failed', function(msg){
			console.log('fail bro ',msg)
			//document.querySelector("#penghalang").classList.toggle("show-popUp-modal");
			showPopUpMessage( "Failed" , msg);
		});
		client.on('prepareMessage' , function(message){
			pushChatLobby(message.from , message.message , message.color);
		})
	
		
		console.log(client);
		console.log('ready');
		
		
		
		
		$("#tittleChatPrepare").html("Chat Tim "+state.currentTim);
		
		$("#startgame").click(function(){
			console.log(players[0].user.name);

			if(players[0].user.name == account.userName){
				client.emit('play',state.currentTim);
				//document.querySelector("#penghalang").classList.toggle("show-popUp-modal");
			}else{
				client.emit('readyToPlay',state.currentTim);
			}
		});
		
		$("#inputTextSendMessage").keyup(function(event) {
			if (event.keyCode === 13) {
				$("#sendMessage").click();
			}
		});
		$("#sendMessage").click(function(){
			let inpt = $("#inputTextSendMessage");
			let value = inpt.val();
			if(value == ""){
				showToastMessage("Can't send empty message" , 2000)
				return;
			}
			let message = {from:account.userName , message:value , color:myColor};
			client.emit('prepareMessage' , message , state.currentTim);
			pushChatLobby(message.from , message.message , message.color);
			inpt.val('')
		})
		
		
		
	});
	function pushChatLobby(from , message , color){
		let elm = '<li><div style="background-color:#d2d2d200;width:100%;margin:5px;margin-left:10px; margin-right:10px;border-width:0;border-bottom-width:1px; border-style: solid; border-color:#D2D2D2;padding-bottom:5px;"><h3 class="text"  style="color:'+color+';">'+from+' : </h3><p class="text" style="margin-left:20px;" >'+message+'</p></div></li>';
		$('#chatTabArea').prepend(elm);
	}
	
	function getStatus(index , players){
	
		if(index == 0){
			return {title : 'Tim Master' , color:'#502ACD'};
		}
		
		return (players[index].ready) ? {title : 'Ready' , color:'#576EDB'}: {title : 'Preparing', color:'#FF4941'};
	
	}
	function getListPlayerElement( username , status  , isMaster){
		if(isMaster){
			return '<li><div class="element-list-member" style="margin-bottom:10px;"><div style="width:20%;background-color:#123FF000;text-align:center;"><h3 class="text statusPlayerPrepare playerMaster" style="background-color:'+status.color+'" >'+status.title+'</h3></div><div style="width:60%;background-color:#12312300;text-align:center;"><h3 class="text" style="color:#636363;line-height:normal;" >'+username+'</h3></div><div style="width:20%;background-color:#1239F000;text-align:center;"><button class="btnKickPlayer text" onclick="kickPlayer('+"'"+username+"'"+')" style="margin-top:-3%;border-radius:50%;" >&#x2573</button></div></div></li>'
		}else{
			return '<li><div class="element-list-member" style="margin-bottom:10px;"><div style="width:20%;background-color:#123FF000;text-align:center;"><h3 class="text statusPlayerPrepare playerMaster" style="background-color:'+status.color+'"  >'+status.title+'</h3></div><div style="width:60%;background-color:#12312300;text-align:center;"><h3 class="text" style="color:#636363;line-height:normal;" >'+username+'</h3></div><div style="width:20%;background-color:#1239F000;text-align:center;"></div></div></li>'
		}
	}
	function kickPlayer(username){
		console.log("kaue mengeluarkan "+username);
		client.emit('kickPlayer',state.currentTim,username);
	}
	
</script>