

<div style="width:45%;height:60%;padding:1%;background-color:#22B573; border-radius:5px;margin-left:5%; margin-top:2%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
	<div id="gamePlace" style="width:100%;background-color:#22B57300">

	</div>
</div>

<div style="width:40%;height:61%;background-color:#FFFFFF; border-radius:5px;position:absolute;right:5%;top:3.5%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
	<div style="width:100%;height:5%;background-color:#48048000;display:flex;padding-top:1%; padding-left:3%; padding-right:3%;">
		<h3 class="text" style="width:35%;text-align:left;color:#7052D4;">
			My Team
			<div id="goldInTimCounter" >
				<img src="images/gold.png" style="height:40%;margin-left:2px;margin-right:2px;"></img>
				<img src="images/gold.png" style="height:40%;margin-left:2px;margin-right:2px;"></img>
				<img src="images/gold.png" style="height:40%;margin-left:2px;margin-right:2px;"></img>
			</div>
		</h3>
		<h3 class="text" style="width:30%;text-align:center;color:##636363;">
			Gold in map
			<div id="goldInMapCounter" >
				<img src="images/gold.png" style="height:60%;margin-left:2px;margin-right:2px;"></img>
			</div>
		</h3>
		<h3 class="text" style="width:35%;text-align:right;color:#FF4040;">
			Enemy
			<div id="goldInEnemyCounter" >
				<img src="images/gold.png" style="height:40%;margin-left:2px;margin-right:2px;"></img>
				<img src="images/gold.png" style="height:40%;margin-left:2px;margin-right:2px;"></img>
			</div>
		</h3>

	</div>
	
	<div id="playerListHolder" style="width:100%;height:50%;background-color:#99123400;padding-top:10px;">


		
		
		
	</div>
	
	<div style="width:100%;height:44%;background-color:#99123400;padding-top:10px;display:flex;">
		<div style="width:100%;background-color:#FF442200;">
			<div style="width:100%;height:50%;background-color:#FeD02200;position:relative;">
				<div style="position:absolute;top : -10%;text-align:center;width:100%;">
					<h2 class="text">Move Karakter</h2>
				</div>

				<div style="width:25%;height:60%;position:absolute;bottom : 10%;right:37.5%;">
					<button class="btnLoginAndRegister" onclick="moveTo(0,-1)" style="width:100%;height:100%;"><img src="images/move.png" style="height:50%;margin-top:10%;" /></button>
				</div>
				
			</div>
			<div style="width:100%;height:50%;background-color:#00D02200;text-align:center;position:relative;">
				<div style="width:25%;height:60%;position:absolute;top : 10%;right:7.5%;">
					<button class="btnLoginAndRegister" onclick="moveTo(1, 0)" style="width:100%;height:100%;"><img src="images/move.png" style="height:50%;margin-top:10%;transform:rotate(90deg);" /></button>
				</div>
				<div style="width:25%;height:60%;position:absolute;top : 10%;right:37.5%;">
					<button class="btnLoginAndRegister" onclick="moveTo(0,1)" style="width:100%;height:100%;"><img src="images/move.png" style="height:50%;margin-top:10%;transform:rotate(180deg);" /></button>
				</div>
				<div style="width:25%;height:60%;position:absolute;top : 10%;right:67.5%;">
					<button class="btnLoginAndRegister"  onclick="moveTo(-1, 0)" style="width:100%;height:100%;"><img src="images/move.png" style="height:50%;margin-top:10%;transform:rotate(270deg);" /></button>
				</div>
			</div>
		
		</div>
		
		<div style="width:100%;background-color:#F0002200;">
			<div style="width:100%;height:50%;background-color:#FeD02200;position:relative;">
				<div style="position:absolute;top : -10%;text-align:center;width:100%;">
					<h2 class="text">Shoot Arrow</h2>
				</div>
				<div style="width:25%;height:60%;position:absolute;bottom : 10%;right:37.5%;">
					<button class="btnLoginAndRegister" onclick="shootTo(0,-1)" style="width:100%;height:100%;"><img src="images/arrow.png" style="height:90%;margin-top:10%;" /></button>
				</div>
				
			</div>
			<div style="width:100%;height:50%;background-color:#00D02200;text-align:center;position:relative;">
				<div style="width:25%;height:60%;position:absolute;top : 10%;right:7.5%;">
					<button class="btnLoginAndRegister" onclick="shootTo(1,0)" style="width:100%;height:100%;"><img src="images/arrow.png" style="height:90%;margin-top:0%;transform:rotate(90deg);" /></button>
				</div>
				<div style="width:25%;height:60%;position:absolute;top : 10%;right:37.5%;">
					<button class="btnLoginAndRegister" onclick="shootTo(0,1)" style="width:100%;height:100%;"><img src="images/arrow.png" style="height:90%;margin-top:0%;transform:rotate(180deg);" /></button>
				</div>
				<div style="width:25%;height:60%;position:absolute;top : 10%;right:67.5%;">
					<button class="btnLoginAndRegister" onclick="shootTo(-1,0)" style="width:100%;height:100%;"><img src="images/arrow.png" style="height:90%;margin-top:0%;transform:rotate(270deg);" /></button>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="width:90%;height:30%;background-color:#FFFFFF00; border-radius:5px;position:absolute;right:5%;bottom:3%;">
	<div style="width:100%;height:13%;background-color:#12312300;display:flex;">
		<div style="width:15%;height:100%;background-color:#12312300;display:flex;">
			<button id="btnAllChatToggle" class="btnLoginTogleActive text" style="border-top-left-radius:10px;border-top-right-radius:10px;">All</button>
			<button id="btnTimChatToggle" class="btnLoginTogle text"  style="border-top-left-radius:10px;border-top-right-radius:10px;">Tim</button>
		</div>
		<div style="margin-left:69%;width:15%;height:100%;background-color:#12312300;display:flex;">
			<button class="btnLeaveRoom text" onclick="keluarGamePlay()" style="border-top-left-radius:10px;border-top-right-radius:10px;height:100%;width:100%;"><span>Exit</span></button>
		</div>
	</div>
	<div style="width:100%;height:87%;border-radius:6px;padding-top:15px;border-top-left-radius:0;background-color:#FFFFFF;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
		<div id="allChatTabParent" class="tabChatGamePlay" style="margin-left:20px;margin-right:20px;border-radius:6px;width:60%;float:left;">
			<ul id="allChatTab" style="list-style-type: none;">
			
			</ul>
		</div>
		
		<div id="timChatTabParent" class="tabChatGamePlay" style="margin-left:20px;margin-right:20px;display:none;border-radius:6px;width:60%;float:left;">
			<ul id="timChatTab" style="list-style-type: none;">
			
			</ul>
		</div>
		
		<div id="timChatTabParent" class="tabChatGamePlay" style="border-radius:6px;width:33%;">
			<ul id="serverChatTab" style="list-style-type: none;">
			
			</ul>
		</div>
		
		<div style="background-color:#57957900;width:100%;height:20%;display:flex;margin-top:0.7%;padding-left:20px;" >
			<input id="inputTextChatToGame" class="text" type='text' placeholder="Masukan pesan" style="background-color:#F7F7F7;padding-left:10px;border:1px solid #CECECE;width:85%;height:100%;border-radius:6px;"/>
			<button id="btnSendMessageGame" class="btnLoginAndRegister" style="width:13%;height:100%;margin-left:1%;">Send</button>
		</div>
	</div>
</div>


<!--<h1 id="status" >This is game play loading please wait</h1>-->


<div id="loadingMatchMaking" class="loading-page-play" style="margin:0;height:100%;width:100%;position:absolute;top:0;left:0;background-color:#555555;display:block">
	<div style="position:absolute;top:35%;width:100%;">
		<div class="loaderBg" style="margin:auto;">
			<div class="loader" style="margin:auto;"></div>
		</div>
		<div style="width:60%;margin:auto;text-align:center;margin-top:20px;">
			<h1 class="text" id="loadingStatus" style="color:#ffffff; margin:auto;">Match making please wait</h1>
		</div>
		<div style="width:20%;margin:auto;text-align:center;margin-top:20px;">
			<button class="btnLeaveRoom text" onclick="cancelReady()" style="border-radius:10px;height:175dp;width:100%;"><span>Cancel match making</span></button>
		</div>
	</div>
</div>

<div class="popUp-modal">
    <div class="popUp-modal-content">
        <span class="popUp-close-button" onclick="closePopUpMessage()">×</span>
        <h1 id="tittle-popUp-model">Pop Up</h1>
      	<p id="message-popUp-model" style="font-size: large;color:#2F4F4F;margin-top:10px;margin-bottom:10px;">
			Permainan yang melatih daya ingat, logika dan kerja sama tim , untuk mengumpulkan emas dalam map yang telah diserdiakan dan bertarung melawan monster dan musuh
			yang ada di hadapan-mu nanti.
		</p>
    </div>
</div>

<!--
<form action="">
  <input id="m" autocomplete="off" /><button>Send</button>
</form>-->
<div id="toast">Some text some message..</div>
<!--INI UNTUK GAME WUMPUS-->



<script type="text/javascript" src="assets/lib/socketHandler.js"></script>

<script type="text/javascript" src="assets/scenes/Boot.js"></script>

<script type="text/javascript" src="assets/scenes/Preload.js"></script>

<script type="text/javascript" src="assets/scenes/MainMenu.js"></script>

<script>
	function keluarGamePlay(){
		finishGameWumpus();
		lobby();
	}
	var isGameStartedAlready = false;
	function cancelReady(){
		if(!isGameStartedAlready){
			//back to prepare room
			client.emit('cancelplay',state.currentTim);
			console.log('cancel play');
		}else{
			showToastMessage("Cant cancel match making, match is been started");
		}
		
	}
	var isTexting = false;
	$(document).ready(function(){
		var currAllTab = true;
		client.emit('onGameScene',state.currentTim);
		
		client.on('team', function(team){
			console.log("you got Team");
			state.currentTim = team;
		});
		client.on('backToPrepare' , function(){
			console.log('canceled by someone');
			state.currentState = "prepareroom";
			$("#content").load("/prepareroom");
		});

		client.on('playing', function(gameRoom , roomData){
			isGameStartedAlready = true;
			console.log(roomData);
			$("#loadingStatus").html("Enemy is find, prepare to smash them");
			roomMasterName = roomData.roomMaster;
			playerList = [ roomData.child[0].player , roomData.child[1].player ]
			if(state.currentTim == roomData.child[0].name){
				myTeamIdx = 0;
				enemyTeamIdx = 1;
			}else{
				myTeamIdx = 1;
				enemyTeamIdx = 0;
			}
			state.currentGameRoom = gameRoom;
			
			//save state ke server
			saveStateServer();
			
			
			startGameWumpus();
		  
		});

		client.on('forceWin', function(msg){
			//$("#status").html("you win : "+msg);
			//showToastMessage("Permainan selesai semua musuh disconnected" , 3000);
			showPopUpMessage( "Game Win" , "Game Finish all the enemy is disconnected" );
			pushMessageServer('Server' ,  'Permainan selesai semua musuh disconnected');
			finishGameWumpus();
		});
		
		
		
		$('form').submit(function(e){
			e.preventDefault(); // prevents page reloading
			console.log("emit",$('#m').val());
			
			pushMessage($('#m').val());
			return false;
		});
		
		$('#btnAllChatToggle').click(function(){
			if(currAllTab){
				return;
			}
			currAllTab = true;
			$('#allChatTabParent').show();
			$('#timChatTabParent').hide();
			
			$('#btnAllChatToggle').attr('class', 'btnLoginTogleActive');
			$('#btnTimChatToggle').attr('class', 'btnLoginTogle');
			
			
		});
		$('#btnTimChatToggle').click(function(){
			if(!currAllTab){
				return;
			}
			currAllTab = false;
			$('#allChatTabParent').hide();
			$('#timChatTabParent').show();
			
			$('#btnAllChatToggle').attr('class', 'btnLoginTogle');
			$('#btnTimChatToggle').attr('class', 'btnLoginTogleActive');
		});
		
		$("#inputTextChatToGame").keyup(function(event) {
			if (event.keyCode === 13) {
				$('#btnSendMessageGame').click();
			}
		});
		
		
		$("#inputTextChatToGame").focus(function() {
			isTexting = true;
		});
		$("#inputTextChatToGame").focusout(function() {
			isTexting = false;
		 })
		
		$('#btnSendMessageGame').click(function(){
			let values = $('#inputTextChatToGame').val();
			if(values == ""){
				showToastMessage("Message cant be empty" , 2000)
				return;
			}
			
			let room = "";
			if(currAllTab){
				room = state.currentGameRoom;
			}else{
				room = state.currentTim;
			}
			
			client.emit('message', room ,  {username:account.userName , msg: values, color: myColor , isAll : allChatTab } );
			
			if(currAllTab){
				pushMessageAll(account.userName , values ,myColor );
			}else{
				pushMessageTim(account.userName , values ,myColor );
			}
			$('#inputTextChatToGame').val('');
			
		});
		
		
		client.on('message', function(data){
			if(data.isAll){
				pushMessageAll(data.username , data.msg , data.color);
			}else{
				pushMessageTim(data.username , data.msg , data.color);
			}
		}); 
		
	});
	
	function updateEmas(tim , enemy , map){
		//updateEmas(
		$('#goldInTimCounter').html(generateElementGold(40 , tim));
		$('#goldInMapCounter').html(generateElementGold(60 , map));
		$('#goldInEnemyCounter').html(generateElementGold(40 , enemy));
		
	}
	function generateElementGold(scale , count){
		let output = '';
		for(let i = 0 ; i < count; i++){
			output += '<img src="images/gold.png" style="height:'+scale+'%;margin-left:2px;margin-right:2px;"></img>';
		}
		return output;	
	}
	
	function pushMessageServer(username , msg){
		//$('#messages').prepend($('<li>').text(msg));

		$('#serverChatTab').prepend('<li><p><b style="color:#502ACD;">'+username+' :</b>'+msg+'<p></li>');
		
		
	}
	function pushMessageAll(username , msg , color){
		if(color == null){
			color = '#502ACD'
		}
		console.log('<li><p><b style="color:'+color+';">'+username+' :</b>'+msg+'<p></li>')
		$('#allChatTab').prepend('<li><p><b style="color:'+color+';">'+username+' :</b>'+msg+'<p></li>');
	}
	function pushMessageTim(username , msg , color){
		if(color == null){
			color = '#502ACD'
		}
		$('#timChatTab').prepend('<li><p><b style="color:'+color+';">'+username+' :</b>'+msg+'<p></li>');
	}
	
	function getElementPlayerList(player){
		return '<div style="width:100%;height:30%;background-color:#23994400;border-bottom:3px solid #f2f2f2; padding-top:10px; padding-bottom:10px;padding-left:20px;display:flex;"><div style="height:100%;width:13%;"><img src="images/user.png" style="height:100%;"></img></div><div style="height:100%;width:20%;background-color:#FFFFFF00;position: relative;"><h2 class="text" id="usernameStatus'+player.player.user.name+'" style="position: absolute;top: 30%;">'+player.player.user.name+'</h2></div><div style="height:100%;width:50%;background-color:#FFFFFF00;position: relative;"><h4 class="text" id="positionStatus'+player.player.user.name+'" style="color:#FFFFFF;background:#87CEEB;position: absolute;top: 15%;border-radius:20px;padding:7px;padding-left:10px;padding-right:10px;vertical-align:middle;">X: '+player.x+' , Y: '+player.y+' cond:-</h4></div><div style="height:100%;width:10%;background-color:#FFFFFF00;position: relative;"><h2 class="text" id="isDeadStatus'+player.player.user.name+'" style="position: absolute;top: 30%;right:0;">'+(player.dead ? 'Dead' : 'Alive' )+'</h2></div></div>';
	}
	function updateStatusList(player){
		let cond = Game.MainMenu.prototype.getCondition(player.x,player.y);
		$('#positionStatus'+player.player.user.name).html('X: '+player.x+' , Y: '+player.y+' , cond:'+condToIcon(cond));
		$('#isDeadStatus'+player.player.user.name).html((player.dead ? 'Dead' : 'Alive' ));
		$('#isDeadStatus'+player.player.user.name).css("color", (player.dead ? '#FF4040' : '#4c67ff' ));
	}
	function condToIcon(cond){
		console.log(cond);
		res = [];
		if(cond[3] != 0){
			//mati
			res.push('<img src="images/saveIcon.png" style="height:16px;margin-left:2px;margin-right:2px;vertical-align:middle;"/>');
		}
		if(cond[0] != 0){
			//bau busuk
			res.push('<img src="images/stinkIcon.png" style="height:16px;margin-left:2px;margin-right:2px;vertical-align:middle;"/>');
		}
		if(cond[1] != 0){
			//Hawa terasa dingin
			res.push('<img src="images/breezeIcon.png" style="height:16px;margin-left:2px;margin-right:2px;vertical-align:middle;"/>');
		}
		if(cond[2] != 0){
			//Aura membunuh terdeteksi
			res.push('<img src="images/auraIcon.png" style="height:16px;margin-left:2px;margin-right:2px;vertical-align:middle;"/>');
		}
		if(res.length == 0){
			//save
			res.push('<img src="images/saveIcon.png" style="height:16px;margin-left:2px;margin-right:2px;vertical-align:middle;"/>');
		}
		console.log(res.join(' '));
		return res.join(' ');
	}
</script>


