<div style="background-color:#FFFFFF;height:50px;width:200px;position:absolute;top:5%;right:5%; border-radius: 50px;display: flex;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
	<button class="btnLeaveRoom text" id="logoutButton" style="width:100%;height:100%;border-radius:50px;"  ><span>Keluar Akun</span></button>
</div>

<div style="background-color:#FFFFFF;height:60%;width:60%;position:absolute;top:15%;left:5%; border-radius: 20px;display: flex;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
	<div style="height:100%;width:100%;">
		<div style="border-top-right-radius: 20px;border-top-left-radius: 20px;background-color:#F2F2F2;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);height:15%;width:100%;display:flex;padding-top:3%;" >
			<div style="width:20%;background-color:#123FF000;text-align:center;">
				<h2 class="text" style="color:#636363;" >Team Creator</h2>
			</div>
			<div style="width:60%;background-color:#12312300;text-align:center;">
				<h2 class="text" style="color:#636363;line-height:normal;" >Team Name</h2>
			</div>
			<div style="width:20%;background-color:#1239F000;text-align:center;">
				<h2 class="text" style="color:#636363;" >Player Count</h2>
			</div>

		</div>
		
		<div class="titleInfoDescription" style="height:81%;width:100%;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;margin-top:2%;overflow:scroll;">	
			<ul id="roomList" style="list-style-type: none;">
				
				<li>
					<a onclick="console.log('clicked')">
						<div class="element-list-tim" style="">
							<div style="width:20%;background-color:#123FF000;text-align:center;">
								<h3 class="text" style="color:#636363;" ></h3>
							</div>
							<div style="width:60%;background-color:#12312300;text-align:center;">
								<h3 class="text" style="color:#636363;line-height:normal;" >Please wait, loading data...</h3>
							</div>
							<div style="width:20%;background-color:#1239F000;text-align:center;">
								<h3 class="text" style="color:#636363;" ></h3>
							</div>
						</div>
					</a>
				</li>
				
			</ul>
				
		</div>
	</div>
	
</div>
<!--create tim-->
<div style="background-color:#FFFFFF;height:14%;width:60%;position:absolute;top:76.5%;left:5%; border-radius: 20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding-top:1%;" >
	<div style="background-color:#12312300; height:30%;width:100%;">
		<h2 class="text" style="color:#636363;margin-left:2%;" >Create Tim</h2>
	</div>
	<div style="background-color:#fff32100; height:70%;width:100%;">
		<input class="text textFieldInput" id="inputTextCreateTim" type='text' placeholder="Nama Tim" style="padding:2%;margin-left:2%;height:50%;"/>
		<button id="createTim" class="btnLoginAndRegister" style="width:15%;height:60%;margin-left:1%;">Create</button>
	</div>
	
</div>
<!--chat tab-->
<div style="background-color:#FFFFFF;height:75%;width:25%;position:absolute;top:15%;right:5%; border-radius: 20px;display: flex;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
	<div style="background-color:#56756700;height:100%;width:100%;">
		<div style="position:absolute;background-color:#56756700;height:80%;width:100%;">
			<div style="border-top-right-radius: 20px;border-top-left-radius: 20px;background-color:#FFFFFF;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);height:15%;width:100%;display:flex;padding-top:6%;" >
				<div style="width:100%;background-color:#123FF000;text-align:left;">
					<h2 class="text" style="color:#636363;margin-left:3%;background-color:#12312300" >Chat Lobby</h2>
				</div>
			</div>
		</div>
		<div style="position:absolute;background-color:#89089000;height:85%;width:100%;margin-top:22%;">
			<div class="titleInfoDescription" style="background-color:#89089000;width:100%; height:85%;overflow:scroll;vertical-align: bottom;">
				
				<ul id="chatTabArea">
					<!--<li>
						<div style="background-color:#d2d2d200;width:100%;margin:5px;margin-left:10px; margin-right:10px;border-width:0;border-bottom-width:1px; border-style: solid; border-color:#D2D2D2;padding-bottom:5px;">
							<h3 class="text"  style="color:#d2d2d2;">Server : </h3>
							<p class="text" style="margin-left:20px;" >Selamat datang..</p>
						</div>
					</li>-->
				</ul>
			</div>
			<div class="titleInfoDescription" style="background-color:#15915900;width:100%; height:15%;overflow:scroll; padding-top:5%;">
				<input class="text textFieldInput" id="inputTextSendMessage" type='text' placeholder="Tulis Pesan" style="padding:2%;margin-left:2%;height:65%;"/>
				<button id="sendMessage" class="btnLoginAndRegister" style="width:15%;height:65%;margin-left:1%;">Send</button>
			</div>
			
		</div>
			
		
		
	</div>
	

</div>
<div class="popUp-modal">
    <div class="popUp-modal-content">
        <span class="popUp-close-button" onclick="closePopUpMessage()">×</span>
        <h1 id="tittle-popUp-model">Pop Up</h1>
      	<p id="message-popUp-model" style="font-size: large;color:#2F4F4F;margin-top:10px;margin-bottom:10px;">
			Permainan yang melatih daya ingat, logika dan kerja sama tim , untuk mengumpulkan emas dalam map yang telah diserdiakan dan bertarung melawan monster dan musuh
			yang ada di hadapan-mu nanti.
		</p>
    </div>
</div>
<div id="toast">Some text some message..</div>
<script>
	$(document).ready(function(){
		if(information != null && information != ""){
			showPopUpMessage( 'Info' , information );
			setInfo("");
		}
		
		client = io('/lobby');
		var rooms = null;
		$("#inputTextSendMessage").keyup(function(event) {
			if (event.keyCode === 13) {
				$("#sendMessage").click();
			}
		});
		$("#sendMessage").click(function(){
			let inpt = $("#inputTextSendMessage");
			let value = inpt.val();
			if(value == ""){
				showToastMessage("Cant send empty message" , 2000)
				return;
			}
			let message = {from:account.userName , message:value , color:myColor};
			client.emit('lobbyMessage' , message);
			pushChatLobby(message.from , message.message , message.color);
			inpt.val('')
		})
		
		$("#logoutButton").click(function(){
			clearAccount();
		});
		$("#createTim").click(function(){
			let value = $("#inputTextCreateTim").val();
			console.log(value);
			if(value == ""){
				showToastMessage("Team Name cant be empty" , 2000)
				return;
			}
			
			if(rooms == null){
				showToastMessage("Please wait, Loading team data..." , 2000)
				return;
			}
			
			let isExist = false;
			console.log(rooms);
			for(let i =0; i < rooms.length; i++){
				console.log('rooms : ',rooms[i].name , value);
				if(rooms[i].name == value){
					isExist = true;
					break;
				}
			}
			console.log('rooms : ',isExist);
			if(isExist){
				showToastMessage("Team have been created" , 2000)
				return;
			}
			
			$("#createTim").attr("disabled", true);
			prepareRoom(value);
		});
		
		client.on('roomListUpdate', function(roomList){
			console.log("room list updated",roomList);
			$('#roomList').empty();
			console.log(roomList);
			rooms = roomList;
			let rl = $('#roomList');
			roomList.forEach(function(item){
				rl.append('<li><a onclick="prepareRoom('+"'"+item.name+"'"+')"><div class="element-list-tim" style=""><div style="width:20%;background-color:#123FF000;text-align:center;"><h3 class="text" style="color:#636363;" >'+item.player[0].user.name+'</h3></div><div style="width:60%;background-color:#12312300;text-align:center;"><h3 class="text" style="color:#636363;line-height:normal;" >'+item.name+'</h3></div><div style="width:20%;background-color:#1239F000;text-align:center;"><h3 class="text" style="color:#636363;" >'+item.player.length+'/3</h3></div></div></a></li>');
			});
		});
		
		client.on('lobbyMessage', function(message){
			//console.log(message);
			pushChatLobby(message.from , message.message , message.color);
		});
		
		
	});
	function pushChatLobby(from , message , color){
		let elm = '<li><div style="background-color:#d2d2d200;width:100%;margin:5px;margin-left:10px; margin-right:10px;border-width:0;border-bottom-width:1px; border-style: solid; border-color:#D2D2D2;padding-bottom:5px;"><h3 class="text"  style="color:'+color+';">'+from+' : </h3><p class="text" style="margin-left:20px;" >'+message+'</p></div></li>';
		$('#chatTabArea').prepend(elm);
	}
</script>
