.tabChatGamePlay{
	width:98%; 
	margin:auto;
	padding:10px;
	padding-left:20px;
	height:70%;
	background-color:#F7F7F7;
	border-radius:10px;
	border-bottom-right-radius:0;
	border-top-right-radius:0;
	border: 1px solid #CECECE;
	overflow:scroll;
}
/* width */
.tabChatGamePlay::-webkit-scrollbar {
  width: 5px;
  height:0;
}

/* Track */
.tabChatGamePlay::-webkit-scrollbar-track {
  background: #F7F7F7;
}
 
/* Handle */
.tabChatGamePlay::-webkit-scrollbar-thumb {
  background: #502ACD; 
}

/* Handle on hover */
.tabChatGamePlay::-webkit-scrollbar-thumb:hover {
  background: #300AAD; 
}