.element-list-tim{
	height:50px;
	padding-top:15px;
	width:100%;
	background-color:#00FF1200;
	display:flex;
	transition: 0.3s;
}

.element-list-tim:hover{
	height:100px;
	padding-top:40px;
	width:100%;
	background-color:#F5F5F5;
	display:flex;
	transition: 0.3s;
}
a:active  .element-list-tim{

	background-color:#D0D0D0;

}