.btnLoginTogle {
	flex:0.5;
	margin:0;
	background-color:#DFDFDF;
	border:0;
	outline:none;
}
.btnLoginTogleActive {
	flex:0.5;
	margin:0;
	background-color:#FFFFFF;
	border:0;
	outline:none;

}

.text {
	font-family:'Roboto';
}

.textFieldInput{
	background:#F7F7F7;
	border: 1px solid #CECECE;
	box-sizing: border-box;
	border-radius: 5px;
	width:80%;
	height:8%;
	padding:3%;
}

.titleInfoDescription::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.btnLoginAndRegister{
	color:#FFFFFF;
	background-color:#502ACD;
	height:10%;
	width:80%;
	box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	border: 1px solid #CECECE;
	transition: 0.5s;
}
.btnLoginAndRegister:hover {
	background-color: #401ABD;
	height:12%;
	width:82%;
	transition: 0.5s;
}
.btnLoginAndRegister:active {
	background-color: #10008D;
	height:9%;
	width:82%;
	transition: 0s;
}
.btnLoginAndRegister:disabled {
	background-color: #999999;
	transition: 0.5s;
}

.loaderBg {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.loader {
  border: 16px solid #F2F2F2;
  border-radius: 50%;
  border-top: 16px solid #502ACD;
  width: 120px;
  height: 120px;
  -webkit-animation: loadingSpin 2s linear infinite; /* Safari */
  animation: loadingSpin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes loadingSpin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes loadingSpin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}